html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 15vh;
}
  
section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#header{
    display: flex;
}

#top{
    margin-top: 15vh;
}

.row{
    height: 30vh
}